<nav class="topbar">
  <img src="/assets/navbar_icon.png" />
  <div class="logo">
    <span style="color: #c62828"
      >Smart<span style="color: black">Cater</span></span
    >
  </div>
  <div class="social-icons">
    <a href="#"><i class="fa fa-user"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#">
      <img
        src="/assets/Smart-Cater_Logo.png"
        alt="SmartCater Icon"
        class="smartcater-icon"
    /></a>
  </div>
</nav>
