<div class="main-container">
  <!-- Sidebar -->
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <ul class="menu">
      <li>
        <a routerLink="home" style="color: red"
          ><i class="fa fa-home"></i> Home</a
        >
      </li>
      <li>
        <a routerLink="MealBox"
          ><i class="fa fa-link"></i
          ><span style="color: red"
            >Meal<span style="color: black"> Box</span></span
          ></a
        >
      </li>
      <li>
        <a routerLink="Menu"><i class="fa fa-link"></i> Menu</a>
      </li>
      <li>
        <a routerLink="aboutus"><i class="fa fa-link"></i> About Us</a>
      </li>
      <li>
        <a routerLink="userprofile"><i class="fa fa-user"></i> My Profile </a>
      </li>
    </ul>
  </div>
</div>
